/* The Modal (background) */
.email-success-modal {
  display: flex; /* Hidden by default */
  position: absolute; /* Stay in place */
  justify-content: center;
  align-items: center;
  z-index: 1; /* Sit on top */
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(255, 255, 255, 0.641); /* Black w/ opacity */
}

/* Modal Content */
.email-success-modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  box-shadow: 1px 1px 2px #515151;
  width: 300px;
  height: 150px; /* Could be more or less, depending on screen size */
  background-color: #fefefe;
  text-align: center;
  cursor: default;
}

.email-success-modal-content p {
  margin: 0px;
  padding: 0px;
}
/* The Close Button */
.email-success-modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #ff6600;
  border: none;
  width: 80px;
  height: 30px;
  cursor: pointer;
  border-radius: 8px;
  padding: 10px;
  font-size: 13px;
  font-weight: bold;
  box-shadow: 1px 1px 2px #515151;
  margin-top: 20px;
}

.email-success-modal-btn:hover {
  background-color: #0587be;
}
