.forgot-password-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  min-height: 100vh;
  background-image: url("../assets/bench-accounting-nvzvOPQW0gc-unsplash.jpg");
  background-size: cover;
  background-position: center center;
}

.forgot-password-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fafafab8 !important;
  height: 200px;
  width: 330px;
  position: relative;
  padding: 28px;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 2px 2px 2px #515151;
  margin-top: 120px;
}
.forgot-password-email-btn {
  color: white;
  background-color: #ff6600;
  width: 150px;
  height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 1px 1px 1px #515151;
  margin-right: 25px;
}
.forgot-password-email-btn:hover {
  background-color: #0587be;
}

.go-back-login-btn {
  color: #ff6600;
  background-color: rgb(243, 243, 243);
  width: 150px;
  height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 1px 1px 1px #515151;
}
.go-back-login-btn:hover {
  background-color: #0587be;
  color: white;
}
.forgot-password-btn-placement {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.forgot-password-email-field {
  display: block;
  width: 300px;
  padding: 6px 17px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: rgb(240, 240, 240);
  background-image: none;
  border: 1px solid #85858511 !important;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.forgot-password-email-field:hover {
  background-color: #fafafa;
}
