.reset-password-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  min-height: 100vh;
  background-image: url("../assets/bench-accounting-nvzvOPQW0gc-unsplash.jpg");
  background-size: cover;
  background-position: center center;
}

.reset-password-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fafafab8 !important;
  align-items: center;
  height: fit-content;
  width: 320px;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 4px 4px 4px #515151;
  margin-top: 120px;
}

.reset-title-position {
  cursor: default;
  margin: 0px;
  padding-bottom: 35px;
}
.reset-password-form-control {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: rgba(240, 248, 255, 0);
  box-shadow: none;
}

.reset-password-field {
  display: block;
  width: 255px;
  padding: 6px 17px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: rgb(239, 239, 239);
  background-image: none;
  border-radius: 4px;
  border: 1px solid #85858511 !important;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.reset-password-field:hover {
  background-color: #fafafa;
  transition: background-color 0.3s ease;
}

.reset-password-email-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #ff6600;
  border: none;
  width: 200px;
  height: 40px;
  cursor: pointer;
  border-radius: 8px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 1px 1px 2px #515151;
  margin-top: 20px;
}

.reset-password-email-btn:hover {
  background-color: #0587be;
}

.email-sending-spinner {
  margin-left: 10px;
}
