.table-header {
  cursor: default;
  display: grid;
  align-items: start;
  grid-template-columns: repeat(10, 1fr);
  background-color: #ffffff;
  position: sticky;
  margin-bottom: 10px; /* Adjust as needed */
  width: 90vw;
  padding-left: 20px;
  user-select: none;
}

@media screen and (max-width: 1501px) {
  .table-header {
    height: 70px !important;
  }
}
.table-header h3:hover {
  color: #0587be;
}

.table-header .selected {
  color: #ff6600;
}
.table-header h3 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 30px;
  cursor: pointer;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  user-select: none;
}
.table-sort-by-icon {
  margin-top: 3.5px;
  padding-left: 5px;
}
.edit-delete-header {
  margin-right: 5px;
}

.table-product-container {
  height: 70%; /* Add this */
  overflow: hidden; /* Add this */
  /* padding-bottom: 450px; */
  background-color: #d6d6d6d5;
}

.table-product-container .scrolling-content .table-each-product {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(
    10,
    1fr
  ); /* The number of columns should match with the header */
  border-bottom: 1px solid #ddd; /* Add border to separate each row */
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 90vw;
  font-size: 15px;
  cursor: pointer;
  user-select: none;
}
.table-each-product.table-each-product-details-shown {
  grid-template-rows: auto auto; /* creates two rows when details are shown */
}
.table-each-product.table-each-product-details-shown .table-name {
  grid-row: 1 / span 2 !important;
  white-space: normal !important;
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;
  text-overflow: clip !important;
  overflow: visible !important;
}
.table-product-container .scrolling-content .table-each-product .table-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15px;
  width: 75%;
  margin: 0px;
}
.table-product-container .scrolling-content .table-each-product:hover {
  background-color: #efefefdc;
}
.table-toggle-details {
  margin-top: 4px;
  margin-right: 5px;
  margin-left: 5px;
  transition: transform 0.3s ease;
}
.table-toggle-details.rotated {
  transform: rotate(90deg);
}
.table-name {
  white-space: nowrap;
}
.table-value {
  padding-left: 5px;
}

.table-each-product .table-name b {
  text-overflow: ellipsis;
  overflow: hidden;
}
.table-product-container
  .scrolling-content
  .table-each-product
  .table-product-details
  p {
  margin: 0;
  padding: 5px 10px; /* Add padding to give some space */
}

.table-edit-del-btns {
  align-items: center;
}
.table-edit-item:hover,
.table-delete-item:hover,
.table-each-product .table-name b:hover {
  color: #0587be;
}

.table-edit-item,
.table-delete-item {
  cursor: pointer;
  color: #393939;
  margin-left: 22px;
}

/* MEDIUM VIEWPORT DISPLAY*/
@media screen and (min-width: 601px) and (max-width: 1166px) {
  .table-product-container {
    margin-top: 150px;
  }
  .table-header {
    top: 150px;
  }
}

/* LARGE VIEWPORT DISPLAY*/
@media screen and (min-width: 1167px) {
  .table-header {
    top: 140px;
  }
  .table-product-container {
    margin-top: 140px;
  }
}

/* Pagination Styles */
.pagination {
  display: flex;
  position: absolute;
  justify-content: center;
  margin: 20px 0;
  bottom: 10%;
  left: 50%;
  list-style: none;
  cursor: default;
  transform: translateX(-50%);
  user-select: none;
}

.pagination__link {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px 16px;
  text-decoration: none;
  color: #333;
  margin: 0 4px;
  font-size: 15px;
  background-color: #f3f3f3;
  font-weight: bold;
}

.pagination__link--active {
  color: #0587be;
  font-weight: bold;
  cursor: pointer;
}

.pagination__link:hover:not(.pagination__link--disabled) {
  background-color: #0587be;
  color: white;
}

.pagination__link--disabled {
  color: #ddd;
  cursor: not-allowed;
}

li {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  font-weight: bold;
}
