.register-user-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  min-height: 100vh;
  background-image: url("../assets/bench-accounting-nvzvOPQW0gc-unsplash.jpg");
  background-size: cover;
  background-position: center center;
}

.title-position {
  display: flex;
  justify-content: center;
}

.title {
  border: none;
  padding-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #222222;
}

label {
  font-weight: bold;
  display: flex;
  margin-bottom: 5px;
  color: #555;
}

.fields-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.register-user-field:hover,
.register-select-account:hover {
  background-color: #fafafa;
  transition: background-color 0.3s ease;
}

.register-user-field,
.register-select-account {
  display: block;
  width: 255px;
  padding: 6px 17px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: rgb(239, 239, 239);
  background-image: none;
  border-radius: 4px;
  border: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

#account {
  width: 290px;
}

.btn-placement {
  display: flex;
  justify-content: center;
}

.create-user {
  color: white;
  background-color: #ff6600;
  width: 150px;
  height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 1px 1px 1px #515151;
  margin-right: 25px;
}

.register-cancel {
  color: #ff6600;
  background-color: rgb(243, 243, 243);
  width: 150px;
  height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 1px 1px 1px #515151;
}

.create-user:hover {
  background-color: #0587be;
}
.register-cancel:hover {
  background-color: #0587be;
  color: white;
}

.error {
  color: red;
}
