.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f1f1f1;
}
.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f1f1f1;
}
.register-user-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f1f1f1;
}
.add-item-form {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  /* background-color: #f1f1f1; */
}

/* -- GENERAL FORM LAYOUT -- */
Form {
  position: relative;
  padding: 28px;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 7px 7px 11px #b1b1b1, -7px -7px 11px #ffffff;
}

.add-item-modal-shadow-control {
  position: relative;
  padding: 28px;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: none;
}

.form-control {
  margin-bottom: 20px;
}

.title-position {
  display: flex;
  justify-content: center;
}

.new-item-position {
  display: flex;
  justify-content: flex-start;
  font-size: 15px;
}

.add-item-title {
  /* position: absolute; */
  /* top: -70px; */
  border: none;
  /* border-radius: 5px;
  padding-right: 20px;
  padding-left: 20px; */
  padding-bottom: 20px;
  /* padding-top: 5px; */
  font-size: 20px;
  font-weight: bold;
  color: #222222;
}

.title {
  /* position: absolute; */
  /* top: -70px; */
  border: none;
  /* border-radius: 5px;
  padding-right: 20px;
  padding-left: 20px; */
  padding-bottom: 20px;
  /* padding-top: 5px; */
  font-size: 30px;
  font-weight: bold;
  color: #222222;
}

label {
  font-weight: bold;
  display: flex;
  margin-bottom: 5px;
  color: #555;
}

input + label {
  font-weight: bold;
  display: inline-flex;
  margin-right: 20px;
  color: #555;
}
/* GENERAL FORM LAYOUT */

/* HOVER FIELDS */
input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
input[type="number"]:hover,
textarea:hover,
select:hover {
  background-color: #fafafa; /* Change to the desired hover background color */
  transition: background-color 0.3s ease;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea,
select {
  display: block;
  width: 300px;
  padding: 6px 17px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: rgb(243, 243, 243);
  background-image: none;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

#state {
  width: 100%;
}
/* #zip {
  width: 117px;
} */
#account {
  width: 100%;
}

.dollar {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.dollar-sign {
  position: absolute;
  top: 14px;
  left: 7px;
}

/* select {
  width: 100%;
} */
/* HOVER FIELDS */

/* MODAL CSS */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .modal-content {
  background-color: white;
  padding: 20px;
  width: 400px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
} */

.add-item-form {
  position: relative;
}

/* MODAL CSS */

/* CUSTOMIZE BUTTONS */
.btn-placement {
  display: flex;
  justify-content: center;
}

Form button {
  border: none;
  border-radius: 25px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}

.login-signup {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.upload-cancel {
  display: flex;
  justify-content: center;
}
.or {
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
}

.or:after,
.or:before {
  content: "";
  display: block;
  background: grey;
  width: 100%;
  height: 1px;
  margin: 0 10px;
}

.submit {
  color: white;
  background-color: rgb(206, 105, 10);
  padding-left: 17px;
  padding-right: 17px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.login {
  color: white;
  background-color: rgb(206, 105, 10);
  width: 80%;
  margin-top: 25px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.login {
  color: white;
  background-color: rgb(206, 105, 10);
  width: 100%;
  margin-top: 25px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.upload {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  background-color: rgb(206, 105, 10);
  width: 100px;
  margin-top: 25px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.add-item-btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  background-color: rgb(206, 105, 10);
  width: 120px;
  margin-top: 25px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}

.create-user {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  background-color: rgb(206, 105, 10);
  width: 100px;
  margin-top: 25px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.cancel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: rgb(206, 105, 10);
  background-color: rgb(243, 243, 243);
  width: 100px;
  margin-top: 25px;
  margin-left: 20px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.sign-up {
  color: rgb(206, 105, 10);
  background-color: rgb(243, 243, 243);
  width: 100%;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.login:hover,
.upload:hover,
.submit:hover,
.create-user:hover {
  background-color: rgba(206, 105, 10, 0.808);
}

.cancel:hover,
.sign-up:hover {
  background-color: rgba(255, 255, 255, 0.767);
}
/* CUSTOMIZE BUTTONS */

/* -- Utilize below styling for no hover fields -- */
/* input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  display: block;
  width: 300px;
  padding: 6px 17px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #ffffffb6;
  background-image: none;
  border: none;
  border-radius: 4px;
} */
/* -- Utilize above styling for no hover fields -- */

.state-zip {
  display: flex;
  justify-content: flex-start;
}

/* CUSTOM CHECK BOXES */
.checkbox-container {
  display: inline-flex;
}

.checkbox-container input[type="checkbox"] {
  display: none;
}

.checkbox-container label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-left: 8px; /* Adjust as needed */
}

.checkbox-container label::before {
  content: "";
  display: inline-block;
  width: 15px; /* Adjust as needed */
  height: 15px; /* Adjust as needed */
  border: 1px solid #555;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin-right: 8px; /* Adjust as needed */
}

.checkbox-container input[type="checkbox"]:checked + label::before {
  background-color: rgb(206, 105, 10); /* Change to your desired color */
}

/* CUSTOM CHECK BOXES */

.error {
  color: red;
}

/* NAVBAR COMPONENT CSS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100px;
  width: 100vw;
}

.app-user {
  display: flexbox;
}
.logout-btn-layout {
  position: relative;
}

.logout {
  border: 1px solid #bd0505;
  border-radius: 100%;
  padding: 5px;
  color: #bd0505;
}

/* NAVBAR COMPONENT CSS */
